<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Employee</title>
<link href="style.css">
<link rel="stylesheet" href="../index.css">

</head>
<body>
	<form action="#" th:action="@{/savedEmployee}" th:object="${employee}"
		method="post">
		<h1 class="heading" id="addEmployee">Add Employee</h1>

		<table>
		
			<tr>
				<td>ID :</td>
				<td><input th:field="*{id}" placeholder="ID"
					type="text"></td>
			</tr>
		
			<tr>
				<td>Name :</td>
				<td><input th:field="*{name}" placeholder="First Name"
					type="text"></td>
			</tr>


			<tr>
				<td>Salary :</td>
				<td><input th:field="*{salary}" placeholder="Salary" type="text">
				</td>
			</tr>

			<tr>
				<td>Designation :</td>
				<td><input th:field="*{designation}" placeholder="Designation"
					type="text"></td>
			</tr>

			<tr>
				<td>Age :</td>
				<td><input th:field="*{age}" placeholder="Age" type="text">
				</td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" value="submit" class="btn btn-success">
				</td>
			</tr>
		</table>




	</form>
</body>
</html>