<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Employee</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<table border="1" class = "table table-striped table-responsive-md">
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.sal}"></td>
				</tr>
			</tbody>
		</table>

</body>
</html>