<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update Employee</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Employee DB</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="http://localhost:8081/EmployeeProject/Home.html">Home <span
						class="sr-only">(current)</span></a></li>
		</div>
		</li>
		</ul>
		</div>
	</nav>
	<div class="container">
		<form action="UpdateEmployee.jsp">

		<table>
						<h1 style="margin-top:30px;">Update Employee</h1>
				
			<tr>
				<td>ID :</td>
				<td><input name="id" placeholder="ID" type="text"></td>
			</tr>


			<tr>
				<td>Salary :</td>
				<td><input name="sal" placeholder="Salary" type="text">
				</td>
			</tr>


			<tr>
				<td></td>
				<td><input type="submit" value="submit" class="btn btn-warning"></td>
			</tr>



		</table>
	
	</div>



		</br>

	</form>

</body>
</html>